* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 24px;
  line-height: 30px;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-repeat: no-repeat;
}

button,
input {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  min-width: 20vw;
  margin-left: 30px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  border: 1px solid rgb(0, 0, 193);
}

input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: rgb(159, 159, 159);
}

input:focus {
  background-color: rgb(255, 255, 255);
}

h1 {
  width: 100%;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  color: rgb(74, 110, 199);
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchContact {
  width: 49%;
}

.phonebook {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.phonebook > h1 {
  flex-grow: 0;
}
